services:
  postgres:
    image: postgres:15-alpine
    container_name: lanchonete_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: lanchonete
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: lanchonete_backend
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: "postgresql://admin:password@postgres:5432/lanchonete"
      JWT_SECRET: "supersecretkey"
      DEFAULT_ADMIN_EMAIL: "admin@lanchonete.com"
      DEFAULT_ADMIN_PASSWORD: "admin123"
      DEFAULT_ADMIN_NAME: "Administrador"
    depends_on:
      - postgres
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: npm run dev

  frontend:
    build: ./frontend
    container_name: lanchonete_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend

volumes:
  postgres_data:
